{% extends 'templates/wind.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <img src="{{ base_url() }}/public/img/notfound.png"/ alt="Not found page">
        </div>
    </div>
{% endblock %}