body {
    padding-top: 80px;
    padding-bottom: 40px;
}

time {
    font-size: 11px;
}

.panel-heading i.fa  {
    min-width: 30px;
    padding-left: 10px;
}
.source-code-situacao {
    font-family: "Courier New";
    border: 1px solid #ccc;
    border-radius: 10px;
    border-left: 3px solid red;
    padding: 5px 5px 5px 15px;
}
.source-code-solucao {
    font-family: "Courier New";
    border: 1px solid #ccc;
    border-radius: 10px;
    border-left: 3px solid blue;
    padding: 5px 5px 5px 15px;
}
.ver-mais-link {
    color: white;
}

.ver-mais-link:hover {
    color: lightblue;
}

.logo-index {
    margin-top: 120px;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
}